body {
  background-color: #b8b5ff;
  color: #7868e6;
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  padding: 80px 0;
}

#game-board {
  background-color: #7868e6;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 7px;
}

.square {
  background-color: #b8b5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

#message {
  text-align: center;
  padding: 40px 0;
  font-size: 24px;
}

#restart-button {
  width: 125px;
  height: 40px;
  border: 2px solid #7868e6;
  border-radius: 4px;
  background-color: #b8b5ff;
  color: #7868e6;
  margin: 0 auto;
  display: block;
  outline: none;
  font-weight: bold;
  font-stretch: expanded;
}

#restart-button:active {
  transform: scale(1.05);
}